.marker-5-0 {
background-color: rgb(214, 86, 65);
transform: scale(0.5);
}
.marker-5-1 {
background-color: rgb(214, 87, 65);
transform: scale(0.505);
}
.marker-5-2 {
background-color: rgb(214, 87, 65);
transform: scale(0.51);
}
.marker-5-3 {
background-color: rgb(214, 88, 65);
transform: scale(0.515);
}
.marker-5-4 {
background-color: rgb(214, 88, 65);
transform: scale(0.52);
}
.marker-5-5 {
background-color: rgb(214, 89, 65);
transform: scale(0.525);
}
.marker-5-6 {
background-color: rgb(214, 89, 65);
transform: scale(0.53);
}
.marker-5-7 {
background-color: rgb(214, 90, 65);
transform: scale(0.535);
}
.marker-5-8 {
background-color: rgb(214, 90, 65);
transform: scale(0.54);
}
.marker-5-9 {
background-color: rgb(214, 91, 65);
transform: scale(0.545);
}
.marker-5-10 {
background-color: rgb(214, 92, 65);
transform: scale(0.55);
}
.marker-5-11 {
background-color: rgb(214, 92, 65);
transform: scale(0.555);
}
.marker-5-12 {
background-color: rgb(214, 93, 65);
transform: scale(0.56);
}
.marker-5-13 {
background-color: rgb(214, 93, 65);
transform: scale(0.565);
}
.marker-5-14 {
background-color: rgb(214, 94, 65);
transform: scale(0.5700000000000001);
}
.marker-5-15 {
background-color: rgb(214, 94, 65);
transform: scale(0.575);
}
.marker-5-16 {
background-color: rgb(214, 95, 65);
transform: scale(0.58);
}
.marker-5-17 {
background-color: rgb(214, 95, 65);
transform: scale(0.585);
}
.marker-5-18 {
background-color: rgb(214, 96, 65);
transform: scale(0.59);
}
.marker-5-19 {
background-color: rgb(214, 96, 65);
transform: scale(0.595);
}
.marker-5-20 {
background-color: rgb(214, 97, 65);
transform: scale(0.6);
}
.marker-5-21 {
background-color: rgb(214, 98, 65);
transform: scale(0.605);
}
.marker-5-22 {
background-color: rgb(214, 98, 65);
transform: scale(0.61);
}
.marker-5-23 {
background-color: rgb(214, 99, 65);
transform: scale(0.615);
}
.marker-5-24 {
background-color: rgb(214, 99, 65);
transform: scale(0.62);
}
.marker-5-25 {
background-color: rgb(214, 100, 65);
transform: scale(0.625);
}
.marker-5-26 {
background-color: rgb(214, 100, 65);
transform: scale(0.63);
}
.marker-5-27 {
background-color: rgb(214, 101, 65);
transform: scale(0.635);
}
.marker-5-28 {
background-color: rgb(214, 101, 65);
transform: scale(0.64);
}
.marker-5-29 {
background-color: rgb(214, 102, 65);
transform: scale(0.645);
}
.marker-5-30 {
background-color: rgb(214, 103, 65);
transform: scale(0.65);
}
.marker-5-31 {
background-color: rgb(214, 103, 65);
transform: scale(0.655);
}
.marker-5-32 {
background-color: rgb(214, 104, 65);
transform: scale(0.66);
}
.marker-5-33 {
background-color: rgb(214, 104, 65);
transform: scale(0.665);
}
.marker-5-34 {
background-color: rgb(214, 105, 65);
transform: scale(0.67);
}
.marker-5-35 {
background-color: rgb(214, 105, 65);
transform: scale(0.675);
}
.marker-5-36 {
background-color: rgb(214, 106, 65);
transform: scale(0.6799999999999999);
}
.marker-5-37 {
background-color: rgb(214, 106, 65);
transform: scale(0.685);
}
.marker-5-38 {
background-color: rgb(214, 107, 65);
transform: scale(0.69);
}
.marker-5-39 {
background-color: rgb(214, 107, 65);
transform: scale(0.6950000000000001);
}
.marker-5-40 {
background-color: rgb(214, 108, 65);
transform: scale(0.7);
}
.marker-5-41 {
background-color: rgb(214, 109, 65);
transform: scale(0.705);
}
.marker-5-42 {
background-color: rgb(214, 109, 65);
transform: scale(0.71);
}
.marker-5-43 {
background-color: rgb(214, 110, 65);
transform: scale(0.715);
}
.marker-5-44 {
background-color: rgb(214, 110, 65);
transform: scale(0.72);
}
.marker-5-45 {
background-color: rgb(214, 111, 65);
transform: scale(0.725);
}
.marker-5-46 {
background-color: rgb(214, 111, 65);
transform: scale(0.73);
}
.marker-5-47 {
background-color: rgb(214, 112, 65);
transform: scale(0.735);
}
.marker-5-48 {
background-color: rgb(214, 112, 65);
transform: scale(0.74);
}
.marker-5-49 {
background-color: rgb(214, 113, 65);
transform: scale(0.745);
}
.marker-5-50 {
background-color: rgb(214, 114, 65);
transform: scale(0.75);
}
.marker-5-51 {
background-color: rgb(214, 114, 65);
transform: scale(0.755);
}
.marker-5-52 {
background-color: rgb(214, 115, 65);
transform: scale(0.76);
}
.marker-5-53 {
background-color: rgb(214, 115, 65);
transform: scale(0.765);
}
.marker-5-54 {
background-color: rgb(214, 116, 65);
transform: scale(0.77);
}
.marker-5-55 {
background-color: rgb(214, 116, 65);
transform: scale(0.775);
}
.marker-5-56 {
background-color: rgb(214, 117, 65);
transform: scale(0.78);
}
.marker-5-57 {
background-color: rgb(214, 117, 65);
transform: scale(0.7849999999999999);
}
.marker-5-58 {
background-color: rgb(214, 118, 65);
transform: scale(0.79);
}
.marker-5-59 {
background-color: rgb(214, 118, 65);
transform: scale(0.7949999999999999);
}
.marker-5-60 {
background-color: rgb(214, 119, 65);
transform: scale(0.8);
}
.marker-5-61 {
background-color: rgb(214, 120, 65);
transform: scale(0.8049999999999999);
}
.marker-5-62 {
background-color: rgb(214, 120, 65);
transform: scale(0.81);
}
.marker-5-63 {
background-color: rgb(214, 121, 65);
transform: scale(0.815);
}
.marker-5-64 {
background-color: rgb(214, 121, 65);
transform: scale(0.8200000000000001);
}
.marker-5-65 {
background-color: rgb(214, 122, 65);
transform: scale(0.825);
}
.marker-5-66 {
background-color: rgb(214, 122, 65);
transform: scale(0.8300000000000001);
}
.marker-5-67 {
background-color: rgb(214, 123, 65);
transform: scale(0.835);
}
.marker-5-68 {
background-color: rgb(214, 123, 65);
transform: scale(0.8400000000000001);
}
.marker-5-69 {
background-color: rgb(214, 124, 65);
transform: scale(0.845);
}
.marker-5-70 {
background-color: rgb(214, 125, 65);
transform: scale(0.85);
}
.marker-5-71 {
background-color: rgb(214, 125, 65);
transform: scale(0.855);
}
.marker-5-72 {
background-color: rgb(214, 126, 65);
transform: scale(0.86);
}
.marker-5-73 {
background-color: rgb(214, 126, 65);
transform: scale(0.865);
}
.marker-5-74 {
background-color: rgb(214, 127, 65);
transform: scale(0.87);
}
.marker-5-75 {
background-color: rgb(214, 127, 65);
transform: scale(0.875);
}
.marker-5-76 {
background-color: rgb(214, 128, 65);
transform: scale(0.88);
}
.marker-5-77 {
background-color: rgb(214, 128, 65);
transform: scale(0.885);
}
.marker-5-78 {
background-color: rgb(214, 129, 65);
transform: scale(0.89);
}
.marker-5-79 {
background-color: rgb(214, 129, 65);
transform: scale(0.895);
}
.marker-5-80 {
background-color: rgb(214, 130, 65);
transform: scale(0.9);
}
.marker-5-81 {
background-color: rgb(214, 131, 65);
transform: scale(0.905);
}
.marker-5-82 {
background-color: rgb(214, 131, 65);
transform: scale(0.9099999999999999);
}
.marker-5-83 {
background-color: rgb(214, 132, 65);
transform: scale(0.915);
}
.marker-5-84 {
background-color: rgb(214, 132, 65);
transform: scale(0.9199999999999999);
}
.marker-5-85 {
background-color: rgb(214, 133, 65);
transform: scale(0.925);
}
.marker-5-86 {
background-color: rgb(214, 133, 65);
transform: scale(0.9299999999999999);
}
.marker-5-87 {
background-color: rgb(214, 134, 65);
transform: scale(0.935);
}
.marker-5-88 {
background-color: rgb(214, 134, 65);
transform: scale(0.94);
}
.marker-5-89 {
background-color: rgb(214, 135, 65);
transform: scale(0.9450000000000001);
}
.marker-5-90 {
background-color: rgb(214, 136, 65);
transform: scale(0.95);
}
.marker-5-91 {
background-color: rgb(214, 136, 65);
transform: scale(0.9550000000000001);
}
.marker-5-92 {
background-color: rgb(214, 137, 65);
transform: scale(0.96);
}
.marker-5-93 {
background-color: rgb(214, 137, 65);
transform: scale(0.9650000000000001);
}
.marker-5-94 {
background-color: rgb(214, 138, 65);
transform: scale(0.97);
}
.marker-5-95 {
background-color: rgb(214, 138, 65);
transform: scale(0.975);
}
.marker-5-96 {
background-color: rgb(214, 139, 65);
transform: scale(0.98);
}
.marker-5-97 {
background-color: rgb(214, 139, 65);
transform: scale(0.985);
}
.marker-5-98 {
background-color: rgb(214, 140, 65);
transform: scale(0.99);
}
.marker-5-99 {
background-color: rgb(214, 140, 65);
transform: scale(0.995);
}
