.marker-6-0 {
background-color: rgb(77, 65, 214);
transform: scale(0.5);
}
.marker-6-1 {
background-color: rgb(78, 65, 214);
transform: scale(0.505);
}
.marker-6-2 {
background-color: rgb(79, 65, 214);
transform: scale(0.51);
}
.marker-6-3 {
background-color: rgb(80, 65, 214);
transform: scale(0.515);
}
.marker-6-4 {
background-color: rgb(80, 65, 214);
transform: scale(0.52);
}
.marker-6-5 {
background-color: rgb(81, 65, 214);
transform: scale(0.525);
}
.marker-6-6 {
background-color: rgb(82, 65, 214);
transform: scale(0.53);
}
.marker-6-7 {
background-color: rgb(83, 65, 214);
transform: scale(0.535);
}
.marker-6-8 {
background-color: rgb(84, 65, 214);
transform: scale(0.54);
}
.marker-6-9 {
background-color: rgb(85, 65, 214);
transform: scale(0.545);
}
.marker-6-10 {
background-color: rgb(86, 65, 214);
transform: scale(0.55);
}
.marker-6-11 {
background-color: rgb(87, 65, 214);
transform: scale(0.555);
}
.marker-6-12 {
background-color: rgb(87, 65, 214);
transform: scale(0.56);
}
.marker-6-13 {
background-color: rgb(88, 65, 214);
transform: scale(0.565);
}
.marker-6-14 {
background-color: rgb(89, 65, 214);
transform: scale(0.5700000000000001);
}
.marker-6-15 {
background-color: rgb(90, 65, 214);
transform: scale(0.575);
}
.marker-6-16 {
background-color: rgb(91, 65, 214);
transform: scale(0.58);
}
.marker-6-17 {
background-color: rgb(92, 65, 214);
transform: scale(0.585);
}
.marker-6-18 {
background-color: rgb(93, 65, 214);
transform: scale(0.59);
}
.marker-6-19 {
background-color: rgb(94, 65, 214);
transform: scale(0.595);
}
.marker-6-20 {
background-color: rgb(94, 65, 214);
transform: scale(0.6);
}
.marker-6-21 {
background-color: rgb(95, 65, 214);
transform: scale(0.605);
}
.marker-6-22 {
background-color: rgb(96, 65, 214);
transform: scale(0.61);
}
.marker-6-23 {
background-color: rgb(97, 65, 214);
transform: scale(0.615);
}
.marker-6-24 {
background-color: rgb(98, 65, 214);
transform: scale(0.62);
}
.marker-6-25 {
background-color: rgb(99, 65, 214);
transform: scale(0.625);
}
.marker-6-26 {
background-color: rgb(100, 65, 214);
transform: scale(0.63);
}
.marker-6-27 {
background-color: rgb(100, 65, 214);
transform: scale(0.635);
}
.marker-6-28 {
background-color: rgb(101, 65, 214);
transform: scale(0.64);
}
.marker-6-29 {
background-color: rgb(102, 65, 214);
transform: scale(0.645);
}
.marker-6-30 {
background-color: rgb(103, 65, 214);
transform: scale(0.65);
}
.marker-6-31 {
background-color: rgb(104, 65, 214);
transform: scale(0.655);
}
.marker-6-32 {
background-color: rgb(105, 65, 214);
transform: scale(0.66);
}
.marker-6-33 {
background-color: rgb(106, 65, 214);
transform: scale(0.665);
}
.marker-6-34 {
background-color: rgb(107, 65, 214);
transform: scale(0.67);
}
.marker-6-35 {
background-color: rgb(107, 65, 214);
transform: scale(0.675);
}
.marker-6-36 {
background-color: rgb(108, 65, 214);
transform: scale(0.6799999999999999);
}
.marker-6-37 {
background-color: rgb(109, 65, 214);
transform: scale(0.685);
}
.marker-6-38 {
background-color: rgb(110, 65, 214);
transform: scale(0.69);
}
.marker-6-39 {
background-color: rgb(111, 65, 214);
transform: scale(0.6950000000000001);
}
.marker-6-40 {
background-color: rgb(112, 65, 214);
transform: scale(0.7);
}
.marker-6-41 {
background-color: rgb(113, 65, 214);
transform: scale(0.705);
}
.marker-6-42 {
background-color: rgb(114, 65, 214);
transform: scale(0.71);
}
.marker-6-43 {
background-color: rgb(114, 65, 214);
transform: scale(0.715);
}
.marker-6-44 {
background-color: rgb(115, 65, 214);
transform: scale(0.72);
}
.marker-6-45 {
background-color: rgb(116, 65, 214);
transform: scale(0.725);
}
.marker-6-46 {
background-color: rgb(117, 65, 214);
transform: scale(0.73);
}
.marker-6-47 {
background-color: rgb(118, 65, 214);
transform: scale(0.735);
}
.marker-6-48 {
background-color: rgb(119, 65, 214);
transform: scale(0.74);
}
.marker-6-49 {
background-color: rgb(120, 65, 214);
transform: scale(0.745);
}
.marker-6-50 {
background-color: rgb(121, 65, 214);
transform: scale(0.75);
}
.marker-6-51 {
background-color: rgb(121, 65, 214);
transform: scale(0.755);
}
.marker-6-52 {
background-color: rgb(122, 65, 214);
transform: scale(0.76);
}
.marker-6-53 {
background-color: rgb(123, 65, 214);
transform: scale(0.765);
}
.marker-6-54 {
background-color: rgb(124, 65, 214);
transform: scale(0.77);
}
.marker-6-55 {
background-color: rgb(125, 65, 214);
transform: scale(0.775);
}
.marker-6-56 {
background-color: rgb(126, 65, 214);
transform: scale(0.78);
}
.marker-6-57 {
background-color: rgb(127, 65, 214);
transform: scale(0.7849999999999999);
}
.marker-6-58 {
background-color: rgb(127, 65, 214);
transform: scale(0.79);
}
.marker-6-59 {
background-color: rgb(128, 65, 214);
transform: scale(0.7949999999999999);
}
.marker-6-60 {
background-color: rgb(129, 65, 214);
transform: scale(0.8);
}
.marker-6-61 {
background-color: rgb(130, 65, 214);
transform: scale(0.8049999999999999);
}
.marker-6-62 {
background-color: rgb(131, 65, 214);
transform: scale(0.81);
}
.marker-6-63 {
background-color: rgb(132, 65, 214);
transform: scale(0.815);
}
.marker-6-64 {
background-color: rgb(133, 65, 214);
transform: scale(0.8200000000000001);
}
.marker-6-65 {
background-color: rgb(134, 65, 214);
transform: scale(0.825);
}
.marker-6-66 {
background-color: rgb(134, 65, 214);
transform: scale(0.8300000000000001);
}
.marker-6-67 {
background-color: rgb(135, 65, 214);
transform: scale(0.835);
}
.marker-6-68 {
background-color: rgb(136, 65, 214);
transform: scale(0.8400000000000001);
}
.marker-6-69 {
background-color: rgb(137, 65, 214);
transform: scale(0.845);
}
.marker-6-70 {
background-color: rgb(138, 65, 214);
transform: scale(0.85);
}
.marker-6-71 {
background-color: rgb(139, 65, 214);
transform: scale(0.855);
}
.marker-6-72 {
background-color: rgb(140, 65, 214);
transform: scale(0.86);
}
.marker-6-73 {
background-color: rgb(141, 65, 214);
transform: scale(0.865);
}
.marker-6-74 {
background-color: rgb(141, 65, 214);
transform: scale(0.87);
}
.marker-6-75 {
background-color: rgb(142, 65, 214);
transform: scale(0.875);
}
.marker-6-76 {
background-color: rgb(143, 65, 214);
transform: scale(0.88);
}
.marker-6-77 {
background-color: rgb(144, 65, 214);
transform: scale(0.885);
}
.marker-6-78 {
background-color: rgb(145, 65, 214);
transform: scale(0.89);
}
.marker-6-79 {
background-color: rgb(146, 65, 214);
transform: scale(0.895);
}
.marker-6-80 {
background-color: rgb(147, 65, 214);
transform: scale(0.9);
}
.marker-6-81 {
background-color: rgb(147, 65, 214);
transform: scale(0.905);
}
.marker-6-82 {
background-color: rgb(148, 65, 214);
transform: scale(0.9099999999999999);
}
.marker-6-83 {
background-color: rgb(149, 65, 214);
transform: scale(0.915);
}
.marker-6-84 {
background-color: rgb(150, 65, 214);
transform: scale(0.9199999999999999);
}
.marker-6-85 {
background-color: rgb(151, 65, 214);
transform: scale(0.925);
}
.marker-6-86 {
background-color: rgb(152, 65, 214);
transform: scale(0.9299999999999999);
}
.marker-6-87 {
background-color: rgb(153, 65, 214);
transform: scale(0.935);
}
.marker-6-88 {
background-color: rgb(154, 65, 214);
transform: scale(0.94);
}
.marker-6-89 {
background-color: rgb(154, 65, 214);
transform: scale(0.9450000000000001);
}
.marker-6-90 {
background-color: rgb(155, 65, 214);
transform: scale(0.95);
}
.marker-6-91 {
background-color: rgb(156, 65, 214);
transform: scale(0.9550000000000001);
}
.marker-6-92 {
background-color: rgb(157, 65, 214);
transform: scale(0.96);
}
.marker-6-93 {
background-color: rgb(158, 65, 214);
transform: scale(0.9650000000000001);
}
.marker-6-94 {
background-color: rgb(159, 65, 214);
transform: scale(0.97);
}
.marker-6-95 {
background-color: rgb(160, 65, 214);
transform: scale(0.975);
}
.marker-6-96 {
background-color: rgb(161, 65, 214);
transform: scale(0.98);
}
.marker-6-97 {
background-color: rgb(161, 65, 214);
transform: scale(0.985);
}
.marker-6-98 {
background-color: rgb(162, 65, 214);
transform: scale(0.99);
}
.marker-6-99 {
background-color: rgb(163, 65, 214);
transform: scale(0.995);
}
