.marker-1-0 {
background-color: rgb(156, 226, 217);
transform: scale(0.5);
}
.marker-1-1 {
background-color: rgb(155, 225, 217);
transform: scale(0.505);
}
.marker-1-2 {
background-color: rgb(154, 224, 216);
transform: scale(0.51);
}
.marker-1-3 {
background-color: rgb(154, 223, 216);
transform: scale(0.515);
}
.marker-1-4 {
background-color: rgb(153, 222, 216);
transform: scale(0.52);
}
.marker-1-5 {
background-color: rgb(152, 221, 215);
transform: scale(0.525);
}
.marker-1-6 {
background-color: rgb(151, 220, 215);
transform: scale(0.53);
}
.marker-1-7 {
background-color: rgb(150, 219, 215);
transform: scale(0.535);
}
.marker-1-8 {
background-color: rgb(150, 218, 214);
transform: scale(0.54);
}
.marker-1-9 {
background-color: rgb(149, 217, 214);
transform: scale(0.545);
}
.marker-1-10 {
background-color: rgb(148, 216, 214);
transform: scale(0.55);
}
.marker-1-11 {
background-color: rgb(147, 215, 213);
transform: scale(0.555);
}
.marker-1-12 {
background-color: rgb(147, 214, 213);
transform: scale(0.56);
}
.marker-1-13 {
background-color: rgb(146, 213, 212);
transform: scale(0.565);
}
.marker-1-14 {
background-color: rgb(145, 212, 212);
transform: scale(0.5700000000000001);
}
.marker-1-15 {
background-color: rgb(144, 211, 212);
transform: scale(0.575);
}
.marker-1-16 {
background-color: rgb(143, 210, 211);
transform: scale(0.58);
}
.marker-1-17 {
background-color: rgb(143, 210, 211);
transform: scale(0.585);
}
.marker-1-18 {
background-color: rgb(142, 209, 211);
transform: scale(0.59);
}
.marker-1-19 {
background-color: rgb(141, 208, 210);
transform: scale(0.595);
}
.marker-1-20 {
background-color: rgb(140, 207, 210);
transform: scale(0.6);
}
.marker-1-21 {
background-color: rgb(139, 206, 210);
transform: scale(0.605);
}
.marker-1-22 {
background-color: rgb(139, 205, 209);
transform: scale(0.61);
}
.marker-1-23 {
background-color: rgb(138, 204, 209);
transform: scale(0.615);
}
.marker-1-24 {
background-color: rgb(137, 203, 209);
transform: scale(0.62);
}
.marker-1-25 {
background-color: rgb(136, 202, 208);
transform: scale(0.625);
}
.marker-1-26 {
background-color: rgb(135, 201, 208);
transform: scale(0.63);
}
.marker-1-27 {
background-color: rgb(135, 200, 208);
transform: scale(0.635);
}
.marker-1-28 {
background-color: rgb(134, 199, 207);
transform: scale(0.64);
}
.marker-1-29 {
background-color: rgb(133, 198, 207);
transform: scale(0.645);
}
.marker-1-30 {
background-color: rgb(132, 197, 207);
transform: scale(0.65);
}
.marker-1-31 {
background-color: rgb(132, 196, 206);
transform: scale(0.655);
}
.marker-1-32 {
background-color: rgb(131, 195, 206);
transform: scale(0.66);
}
.marker-1-33 {
background-color: rgb(130, 194, 205);
transform: scale(0.665);
}
.marker-1-34 {
background-color: rgb(129, 193, 205);
transform: scale(0.67);
}
.marker-1-35 {
background-color: rgb(128, 192, 205);
transform: scale(0.675);
}
.marker-1-36 {
background-color: rgb(128, 191, 204);
transform: scale(0.6799999999999999);
}
.marker-1-37 {
background-color: rgb(127, 190, 204);
transform: scale(0.685);
}
.marker-1-38 {
background-color: rgb(126, 189, 204);
transform: scale(0.69);
}
.marker-1-39 {
background-color: rgb(125, 188, 203);
transform: scale(0.6950000000000001);
}
.marker-1-40 {
background-color: rgb(124, 187, 203);
transform: scale(0.7);
}
.marker-1-41 {
background-color: rgb(124, 186, 203);
transform: scale(0.705);
}
.marker-1-42 {
background-color: rgb(123, 185, 202);
transform: scale(0.71);
}
.marker-1-43 {
background-color: rgb(122, 184, 202);
transform: scale(0.715);
}
.marker-1-44 {
background-color: rgb(121, 183, 202);
transform: scale(0.72);
}
.marker-1-45 {
background-color: rgb(120, 182, 201);
transform: scale(0.725);
}
.marker-1-46 {
background-color: rgb(120, 181, 201);
transform: scale(0.73);
}
.marker-1-47 {
background-color: rgb(119, 180, 201);
transform: scale(0.735);
}
.marker-1-48 {
background-color: rgb(118, 179, 200);
transform: scale(0.74);
}
.marker-1-49 {
background-color: rgb(117, 178, 200);
transform: scale(0.745);
}
.marker-1-50 {
background-color: rgb(117, 178, 200);
transform: scale(0.75);
}
.marker-1-51 {
background-color: rgb(116, 177, 199);
transform: scale(0.755);
}
.marker-1-52 {
background-color: rgb(115, 176, 199);
transform: scale(0.76);
}
.marker-1-53 {
background-color: rgb(114, 175, 198);
transform: scale(0.765);
}
.marker-1-54 {
background-color: rgb(113, 174, 198);
transform: scale(0.77);
}
.marker-1-55 {
background-color: rgb(113, 173, 198);
transform: scale(0.775);
}
.marker-1-56 {
background-color: rgb(112, 172, 197);
transform: scale(0.78);
}
.marker-1-57 {
background-color: rgb(111, 171, 197);
transform: scale(0.7849999999999999);
}
.marker-1-58 {
background-color: rgb(110, 170, 197);
transform: scale(0.79);
}
.marker-1-59 {
background-color: rgb(109, 169, 196);
transform: scale(0.7949999999999999);
}
.marker-1-60 {
background-color: rgb(109, 168, 196);
transform: scale(0.8);
}
.marker-1-61 {
background-color: rgb(108, 167, 196);
transform: scale(0.8049999999999999);
}
.marker-1-62 {
background-color: rgb(107, 166, 195);
transform: scale(0.81);
}
.marker-1-63 {
background-color: rgb(106, 165, 195);
transform: scale(0.815);
}
.marker-1-64 {
background-color: rgb(105, 164, 195);
transform: scale(0.8200000000000001);
}
.marker-1-65 {
background-color: rgb(105, 163, 194);
transform: scale(0.825);
}
.marker-1-66 {
background-color: rgb(104, 162, 194);
transform: scale(0.8300000000000001);
}
.marker-1-67 {
background-color: rgb(103, 161, 194);
transform: scale(0.835);
}
.marker-1-68 {
background-color: rgb(102, 160, 193);
transform: scale(0.8400000000000001);
}
.marker-1-69 {
background-color: rgb(101, 159, 193);
transform: scale(0.845);
}
.marker-1-70 {
background-color: rgb(101, 158, 193);
transform: scale(0.85);
}
.marker-1-71 {
background-color: rgb(100, 157, 192);
transform: scale(0.855);
}
.marker-1-72 {
background-color: rgb(99, 156, 192);
transform: scale(0.86);
}
.marker-1-73 {
background-color: rgb(98, 155, 191);
transform: scale(0.865);
}
.marker-1-74 {
background-color: rgb(98, 154, 191);
transform: scale(0.87);
}
.marker-1-75 {
background-color: rgb(97, 153, 191);
transform: scale(0.875);
}
.marker-1-76 {
background-color: rgb(96, 152, 190);
transform: scale(0.88);
}
.marker-1-77 {
background-color: rgb(95, 151, 190);
transform: scale(0.885);
}
.marker-1-78 {
background-color: rgb(94, 150, 190);
transform: scale(0.89);
}
.marker-1-79 {
background-color: rgb(94, 149, 189);
transform: scale(0.895);
}
.marker-1-80 {
background-color: rgb(93, 148, 189);
transform: scale(0.9);
}
.marker-1-81 {
background-color: rgb(92, 147, 189);
transform: scale(0.905);
}
.marker-1-82 {
background-color: rgb(91, 146, 188);
transform: scale(0.9099999999999999);
}
.marker-1-83 {
background-color: rgb(90, 145, 188);
transform: scale(0.915);
}
.marker-1-84 {
background-color: rgb(90, 145, 188);
transform: scale(0.9199999999999999);
}
.marker-1-85 {
background-color: rgb(89, 144, 187);
transform: scale(0.925);
}
.marker-1-86 {
background-color: rgb(88, 143, 187);
transform: scale(0.9299999999999999);
}
.marker-1-87 {
background-color: rgb(87, 142, 187);
transform: scale(0.935);
}
.marker-1-88 {
background-color: rgb(86, 141, 186);
transform: scale(0.94);
}
.marker-1-89 {
background-color: rgb(86, 140, 186);
transform: scale(0.9450000000000001);
}
.marker-1-90 {
background-color: rgb(85, 139, 186);
transform: scale(0.95);
}
.marker-1-91 {
background-color: rgb(84, 138, 185);
transform: scale(0.9550000000000001);
}
.marker-1-92 {
background-color: rgb(83, 137, 185);
transform: scale(0.96);
}
.marker-1-93 {
background-color: rgb(83, 136, 184);
transform: scale(0.9650000000000001);
}
.marker-1-94 {
background-color: rgb(82, 135, 184);
transform: scale(0.97);
}
.marker-1-95 {
background-color: rgb(81, 134, 184);
transform: scale(0.975);
}
.marker-1-96 {
background-color: rgb(80, 133, 183);
transform: scale(0.98);
}
.marker-1-97 {
background-color: rgb(79, 132, 183);
transform: scale(0.985);
}
.marker-1-98 {
background-color: rgb(79, 131, 183);
transform: scale(0.99);
}
.marker-1-99 {
background-color: rgb(78, 130, 182);
transform: scale(0.995);
}
